<div class="row">
  <div class="col-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, assumenda quam. Repellat commodi dolore vel totam cum veritatis quaerat iusto?
    <div class="row">
      <div class="col-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt omnis blanditiis exercitationem voluptate commodi quisquam ea et harum voluptas accusamus earum adipisci nihil, minus, veniam neque dolorum fugit consequatur sequi. Alias maiores cumque commodi veniam molestiae est delectus rerum facere.
      </div>
    </div>
  </div>
  <div class="col-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ea velit veritatis excepturi sequi earum vitae consequuntur nam porro enim. Fugiat quis ex, adipisci, quo voluptatem rerum maxime tempore doloremque vel architecto nemo minima ipsa quam facere reprehenderit animi incidunt nobis. Sit ad, sed saepe nesciunt necessitatibus delectus doloribus esse aut obcaecati veniam odit maiores porro velit deleniti hic optio. Neque nihil impedit quos tempore! Mollitia debitis deleniti sunt soluta, tempora, error modi ad eveniet rerum corrupti voluptatem? Sit aperiam nemo itaque nesciunt reprehenderit, impedit quisquam amet incidunt commodi dicta. Distinctio aspernatur veritatis voluptas. Obcaecati officiis asperiores sapiente earum ullam?
    <!-- Lorem ipsum dolor sit amet consectetur adipisicing

      elit. Qui distinctio repudiandae corporis facilis aliquid alias tenetur eveniet sint beatae temporibus dolore accusamus, autem voluptatibus harum asperiores. Laboriosam rerum dolor eos? -->
  </div>

</div>

