  <!-- <div class="sidenav" (click)="getData()">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>

  </div> -->
<div class="container-fluid d-flex justify-content-end sidenav">
  <div class="row me-2">
    <div class="col">
      <div class="card" style="width: 250px" *ngFor = "let video of videos">
        <img class="card-img-top" src="{{video.snippet.thumbnails.high.url}}" alt="{{video.snippet.title">
        <a href="http://www.youtube.com/video/{{video.id.videoId}}"></a>
        <!-- <ul class="list-group list-group-flush ">
          <li class="list-group-item img-fluid" style="height: 100px;"> -->
            <div class="card-body">
              {{video.snippet.title}}
            </div>
            <!-- {{ video.snippet.thumbnails.default.url }} -->
            <!-- <a href="http://www.youtube.com/video/{{video.id.videoId}}" target="_blank"> -->
              <!-- <img src="{{video.snippet.thumbnails.high.url}}" alt="{{video.snippet.title}}" width="150px">{{video.snippet.thumbnails.default.url}} -->
            <!-- </a> -->
            <!-- </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
