/* .sidenav {
  height: 800px;
  width: 350px;
  position: fixed;
  top: 150px;
  left: 88%;
  background-color: green;
  z-index: 0;
  padding-top: 13%;

} */

/* .sidenav a {
  display: block;
  font-size: 1.5em;
  padding: 20px 8px 20px 8px;
}  */

.list-group-item {
  /* border: 2px solid green;
  height: 800px; */
  /* background-color: green;
  color: red; */
  border: 2px dashed green;
  height: 100px;
}

.row {
  border: 2px solid red;
}
