<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    input[type="text"] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      /* background-image: url('searchicon.png'); */

      background-position: 10px 10px;

      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    input[type="text"]:focus {
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row"> <!-- Top of the web page, -->
      <div class="col-xs-12 col-lg-8 ">
        <h2>Welcome to Mini-youTube Player!</h2>
        <p>Search here:</p>
        <input #videoName type="text" name="search" placeholder="Search.." />
        <p></p>
        <button (click)="getData()" class="btn btn-primary mb-2">Search</button> <!-- End of the first section, underneath the button is the video player-->
        <div class="row"> <!-- The video player is within a nested row, this allows us to have the main video display next to the recommended videos -->
          <div class="col-xs-12 col-lg-8 ">
            <div *ngIf="start"> <!-- Start is initially true, enabling our video to be displayed on initialization. Start is set to false when the search button is pressed, this video will not display again -->
              <youtube-player
              videoId="A6AqjCFoP-s"
              >
            </youtube-player>
          </div> <!-- End of our video -->

          <!-- Unnecessary? Everything seems to work -->
            <!-- <ul *ngFor="let video of videos"> 
              <a
                target="_blank"
                href="http://www.youtube.com/video/{{ video.id.videoId }}"
              >
              </a>
            </ul> --> 
          <!-- Unnecessary? Everything seems to work   -->


            <div *ngFor="let video of videos; let i = index"> <!-- Video player when searching -->
              <youtube-player
                videoId="{{ video.id.videoId }}"
                *ngIf="i === 0"
              >
              </youtube-player>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-12 col-md-4 mt-5"> <!-- Start of recommended videos on the side -->
        <div
          style="width: 13rem;"
          class="card"
          *ngFor="let video of videos; let i = index"
        >
          <div *ngIf="i >= 1 && i <= 6">
            <a
              target="_blank"
              href="http://www.youtube.com/video/{{ video.id.videoId }}"
            >
              <img
                class="card-img-top"
                src="{{ video.snippet.thumbnails.high.url }}"
                alt="{{ video.snippet.title }}"
              />

              <!-- <youtube-player>
                videoId="{{ video.id.videoId }}" [height]="125" [width]="250"
              </youtube-player> -->
              <!-- <div class="card-body"> -->

              <p class="card-text text-truncate text-muted">
                {{ video.snippet.title }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div> <!-- End of Row 1 in which everything is contained-->
  </div>
</body>
